body {
    margin: 0px;
    box-sizing: border-box;
    width: 100%;

}

header{
    box-sizing: border-box;
    padding-left: 80px;
    padding-right: 80px;
    width: 100%;   
}

nav {
    justify-content: space-between;
    display: flex;
    flex-direction: row;   
}


.menu {
    display: flex;
   flex-direction: row;
}

.links{
   display: flex;
}

.descargas{
    display: flex;
    align-items: center;
}

.descargas div{
    padding: 10px;
}

.links a{
    font-size: 14px;
    padding: 0px 20px;
    color: black;
    display: flex;
    align-items: center; 
    text-decoration: none;
    font-family: sans-serif;
    
}

.links a:hover{
    color: grey;
}

.brando-logo{
    padding: 20px;
}

.ellicer-rigth{
   
    margin: 100px 0px;
    width: 100%;
    z-index: -1;
    height: auto;
    display: flex;
    justify-content:flex-end;
    position: absolute;
     
}

.contenedor{
    display: flex;
    position: relative;
}


.contenedor-banner{
    margin: 3px;
    z-index: 2;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    
}

.title{
    font-size: 100px;
    font-family:sans-serif;
    text-align:justify;
}
    
.btn{
    width: 120px;
    height: 35px;
    padding: 0px 20px;
    top: 70%;
    left: 6%;
    color: white;
    border-radius: 5px;
    border: none;
    position:absolute;
    background-color: #8C30F5;
}
.btn:hover {
    background-color:  rgba(140, 48, 245, 0.28);
    color: white;
}

.btn2{
    font-weight:lighter;
    font-size: 16px;
    width: 120px;
    color: #8C30F5;
    border: none;
    background-color: white;
    position: absolute;
    top:95%;
    left:2%;
}
.sliser{
    background-color: blueviolet;
    width: 100%;
}

#contenedor-features{
    width: 100%;
    height: 120px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#contenedor-features div{
    padding: 15px;
    margin: 5px;

}
.container-features-header{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.container-features-header div{
    text-align: center;
    width: 500px;
}

.title-features{
    font-size: 50px;
}

.container-featuer-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.container-featuer-items div{
    display: flex;
    align-items: center;
    flex-direction: column; 
    text-align: center;  
    width: 320px;
    margin: 10px;
    padding: 20px;

}

.stories{
    width: 100%; 
    height: 650px;
    padding: 10px;
    padding-left: 80px;
    padding-right: 80px;;
    background-color: rgb(152, 231, 231);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
   
}

.container-stories-header{
    width: 1000px;
    height: 200px;
    position: relative;

}
.container-stories-descripcion{
    height: 200px;
    margin-top: 15px;
    margin-left: 60px;  
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.container-stories-header div{
    padding: 10px;
    position: absolute;
}

.title-stories{
    font-size: 30px;
    margin: 5px;
    font-family: sans-serif;

}
.container-stories{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;

}

#stories1{
    margin-right: 15px;
    width: 300px;
  
}

#stories2{
    margin: 10px;
    width: 380px;

}


.container-stories-item{
    margin:5px;
    padding: 10px 20px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: white;

}
.user-items{
    display: flex;
    justify-content: space-around;
  
}
.user-items div{
    width: 300px;
    display: flex;
    justify-content: right;
    align-items: stretch;
}

.container-footer{
    margin: 20px;;
    width: auto;
    padding: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.container-footer div{
    width: 500px;
    margin: 10px;
    padding: 20px;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column; 
    text-align: center;
    text-align: left;  
   
}